<div class="container global-body">

  <main class="search">

    <section class="main">

      <div class="search__menu">
        <h2 class="search__title">사주</h2>

        <div class="menu__items">
          <h5 class="menu__category">카테고리</h5>
          <a href="#" class="menu__item">연애운</a>
          <a href="#" class="menu__item">재물운</a>
          <a href="#" class="menu__item">사업운</a>
          <a href="#" class="menu__item">학업운</a>
          <a href="#" class="menu__item">시험운</a>
          <a href="#" class="menu__item">건강운</a>
        </div>

      </div>

      <div class="search__cards">

        <div class="search__card">
          <div class="card__pic">
            <img class="card__cover" src="https://d2v80xjmx68n4w.cloudfront.net/gigs/small/Tbdts1519884760." alt="">
            <img class="card__profile-pic" src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/C8g8O1521613339." alt="">
          </div>
          <div class="card__content">
            <div class="card__title">
              혜안법사
            </div>
            <div class="card__text">
              명쾌한 신점 혜안법사 하륜정사가 속 시원히 풀어 드립니다.
            </div>
            <div class="card__price">50,000원</div>
          </div>
          <div class="card__footer">
            <div class="footer__colum"><i class="far fa-heart"></i></div>
            <div class="footer__colum">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (53)
              </div>
            </div>
          </div>
        </div>

        <a href="/sajus/detail"><div class="search__card">
          <div class="card__pic">
            <img class="card__cover" src="https://d2v80xjmx68n4w.cloudfront.net/gigs/small/8PnK81422417494.jpg" alt="">
            <img class="card__profile-pic" src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/UR3Yp1471576763.jpg" alt="">
          </div>
          <div class="card__content">
            <div class="card__title">
              취당선생
            </div>
            <div class="card__text">
              사주팔자를 풀이하여 당신의 성격.재물.건강.배우자.자식 등 ...
            </div>
            <div class="card__price">20,000원</div>
          </div>
          <div class="card__footer">
            <div class="footer__colum"><i class="far fa-heart"></i></div>
            <div class="footer__colum">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (25)
              </div>
            </div>
          </div>
        </div></a>

        <div class="search__card">
          <div class="card__pic">
            <img class="card__cover" src="https://d2v80xjmx68n4w.cloudfront.net/gigs/small/ToMLa1517016957.jpg" alt="">
            <img class="card__profile-pic" src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/e89Py1505524789.jpg" alt="">
          </div>
          <div class="card__content">
            <div class="card__title">
              역학도
            </div>
            <div class="card__text">
              힐링사주 정확한 사주풀이 해 드립니다.
            </div>
            <div class="card__price">30,000원</div>
          </div>
          <div class="card__footer">
            <div class="footer__colum"><i class="far fa-heart"></i></div>
            <div class="footer__colum">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (31)
              </div>
            </div>
          </div>
        </div>

        <div class="search__card">
          <div class="card__pic">
            <img class="card__cover" src="https://d2v80xjmx68n4w.cloudfront.net/gigs/small/VtgDz1528763013.jpg" alt="">
            <img class="card__profile-pic" src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/rpemm1528692766.jpg" alt="">
          </div>
          <div class="card__content">
            <div class="card__title">
              orange1809
            </div>
            <div class="card__text">
              타로마스 하율의 사주 & 타로로 힐링을 드립니다.
            </div>
            <div class="card__price">20,000원</div>
          </div>
          <div class="card__footer">
            <div class="footer__colum"><i class="far fa-heart"></i></div>
            <div class="footer__colum">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (19)
              </div>
            </div>
          </div>
        </div>

        <div class="search__card">
          <div class="card__pic">
            <img class="card__cover" src="https://d2v80xjmx68n4w.cloudfront.net/gigs/small/Qtrhj1530001147.jpg" alt="">
            <img class="card__profile-pic" src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/US2iK1525569170.jpg" alt="">
          </div>
          <div class="card__content">
            <div class="card__title">
              백호암
            </div>
            <div class="card__text">
              신점 전화상담...! 금전/궁합/애정/취업/사업/운세/사주/신점 ...
            </div>
            <div class="card__price">50,000원</div>
          </div>
          <div class="card__footer">
            <div class="footer__colum"><i class="far fa-heart"></i></div>
            <div class="footer__colum">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (33)
              </div>
            </div>
          </div>
        </div>

        <div class="search__card">
          <div class="card__pic">
            <img class="card__cover" src="https://d2v80xjmx68n4w.cloudfront.net/gigs/small/N6Zvy1524464809." alt="">
            <img class="card__profile-pic" src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/Ht6gW1529831256." alt="">
          </div>
          <div class="card__content">
            <div class="card__title">
              지안
            </div>
            <div class="card__text">
              타로와 사주(명리학) 강의해 드립니다.
            </div>
            <div class="card__price">250,000원</div>
          </div>
          <div class="card__footer">
            <div class="footer__colum"><i class="far fa-heart"></i></div>
            <div class="footer__colum">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (21)
              </div>
            </div>
          </div>
        </div>

        <div class="search__card">
          <div class="card__pic">
            <img class="card__cover" src="https://d2v80xjmx68n4w.cloudfront.net/gigs/small/pyx0K1516243494.jpg" alt="">
            <img class="card__profile-pic" src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/AqAq11516243473.jpg" alt="">
          </div>
          <div class="card__content">
            <div class="card__title">
              arrcco55
            </div>
            <div class="card__text">
              사로와 타로를 통해 고민 상담을 해 드립니다.
            </div>
            <div class="card__price">50,000원</div>
          </div>
          <div class="card__footer">
            <div class="footer__colum"><i class="far fa-heart"></i></div>
            <div class="footer__colum">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                (7)
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

  </main>

</div>
