<header class="header header--seller">

    <div class="container">
      <div class="header__top">
        <div class="header__col header__col--white">
          <a class="logo" href="/">
            <img class="logo__img" src="<%= asset_path "logo-white.png"%>" alt="logo">
          </a>
        </div>
        <div class="header__col header__col--white">
          <a href="seller" class="header__item">판매 시작하기</a>
          <a href="#" class="header__item">로그아웃</a>
          <a href="/sajus/qna" class="header__item">자주 묻는 질문</a>
        </div>
      </div>
    </div>

    <div class="header__img">
      <h1 class="header__title">
        여러분의 가게를 손쉽게 홍보하세요
      </h1>
      <h4 class="header__subtitle">
        아수라발발타, 홍보와 피드백을 한번에!
      </h4>
      <div class="header__btns">
        <div class="header__btn">
          서비스 등록하기
        </div>
      </div>
    </div>

    <div class="header__info-container">
      <div class="header__info-box">
        <div class="info-box__column">
          <div class="info-box__title">
            일 평균 서비스 등록
          </div>
          <div class="info-box__content">
            71건
          </div>
        </div>
        <div class="info-box__column">
          <div class="info-box__title">
            총 거래 건수
          </div>
          <div class="info-box__content">
            5만 건+
          </div>
        </div>
        <div class="info-box__column">
          <div class="info-box__title">
            총 거래 금액
          </div>
          <div class="info-box__content">
            10억 원+
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="container global-body global-body--seller">

    <section class="seller__cards">
      <div class="seller__card">
        <img class="seller__card-pic" src="https://kmong.com/img/main/desktop/buyer_review_1.png" alt="">
        <div class="seller__card-content">
          <div class="seller__card-quotes-left">
            <i class="fas fa-lg fa-quote-left"></i>
          </div>
          <div class="seller__card-quotes-content">
            아수라발발타에 홍보하면서 매출이 200% 이상 올랐습니다.
            <br />
            아수라발발타가 없는 제 삶은 상상할 수도 없어요!
          </div>
          <div class="seller__card-quotes-right">
            <i class="fas fa-lg fa-quote-right"></i>
          </div>
          <div class="seller__card-person">
            <div class="seller__card-person-title">
              최규태님
            </div>
            <div class="seller__card-person-subtitle">
              수리수리마수리 대표
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="seller__cards">
      <div class="seller__card">
        <img class="seller__card-pic" src="https://kmong.com/img/main/desktop/buyer_review_2.png" alt="">
        <div class="seller__card-content">
          <div class="seller__card-quotes-left">
            <i class="fas fa-lg fa-quote-left"></i>
          </div>
          <div class="seller__card-quotes-content">
            아수라발발타를 통해 받은 피드백은 제 삶을 바꾸었습니다.
            <br />
            타로가 적성에 맞지 않다는 걸 깨달았어요! 고맙습니다!
          </div>
          <div class="seller__card-quotes-right">
            <i class="fas fa-lg fa-quote-right"></i>
          </div>
          <div class="seller__card-person">
            <div class="seller__card-person-title">
              김우진님
            </div>
            <div class="seller__card-person-subtitle">
              타로없인못살아 대표
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
