/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */
 @import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");


 #smalltext {
  font-size: 14px;
}

#mediumtext {
  margin-top: 20px;
  font-size: 18px;
}

.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
  font-size:40px;
  letter-spacing:0;
  display:inline-block;
  margin-left:5px;
  color:#ccc;
  text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:orange !important;}

a.links:link {
  text-decoration: none;
}

#infoprofile {
  margin-top: 60px;
}

#menuButton1 {
  margin-top: 20px;
}

#menuButton2 {
  margin-top: 20px;
}

#menuButton3 {
  margin-top: 20px;
}

.dropdown-menu1 {
  box-sizing: border-box;
  border: 2px solid black;
  border-top: transparent;
}

.dropdown-menu2 {
  box-sizing: border-box;
  border: 2px solid black;
  border-top: transparent;
}

.dropdown-menu3 {
  box-sizing: border-box;
  border: 2px solid black;
  border-top: transparent;
}

#mooneui {
  margin-top: 20px;
}

#myBtn {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orange; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}



/**
* Tabs object.
*
* 1. Tables (kinda) for layout!
* 2. This is the magic bit; make all children occupy equal width.
* 3. Required to make the tabs fill their container.
* 4. Make each tab pack up horizontally.
* 5. Ensure the hit area covers the whole tab.
*/
.tabs {
  margin:  0;
  padding: 0;
  list-style: none;
  display: table; /* [1] */
  table-layout: fixed; /* [2] */
  width: 100%; /* [3] */
}

  .tabs__item {
      display: table-cell; /* [4] */
  }

      .tabs__link {
          display: block; /* [5] */
      }


/**
* Primary nav. Extends `.tabs`.
*
* 1. Stop tabs’ corners leaking out beyond our 4px round.
*/
.primary-nav {
  text-align: center;
  border-radius: 4px;
  overflow: hidden; /* [1] */
}

      .primary-nav a {
          padding: 1em;
          background-color: #BADA55;
          color: #fff;
          font-weight: bold;
          text-decoration: none;
      }

      .primary-nav a:hover {
          background-color: #A3C43B;
      }


 * {
   font-family: "Nanum Gothic", sans-serif;
   box-sizing: border-box !important;
   font-size: 15px;
 }

 a {
   color: inherit !important;
 }

 a:hover {
   color: inherit !important;
   text-decoration: none !important;
 }

 .nanum { font-family: 'Nanum Gothic Coding', monospace; }
 .black { font-family: 'Black Han Sans', sans-serif;}
 .dohyeon { font-family: 'Do Hyeon', sans-serif;}
 .gothic { font-family: 'Gothic A1', sans-serif;}


 .box2 { width: 180px; height: 150px;}

 .nanum { font-family: 'Nanum Gothic Coding', monospace; }
 .black { font-family: 'Black Han Sans', sans-serif;}
 .dohyeon { font-family: 'Do Hyeon', sans-serif;}
 .gothic { font-family: 'Gothic A1', sans-serif;}

#teamname {
  margin-top: 60px !important;
  margin-left: 50px !important;
}

 .landing-wrapper {
         display: table;
         width: 100%;
         background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('pam.jpg');
         background-position: center top;
         height: 100%;
         color: white;
       }

  .land-wrapper {
         display: table;
         width: 100%;
         background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('tarot.jpg');
         background-position: center top;
         height: 100%;
         color: white;
       }

 .icon { width: 50px;
         height: 50px;
         margin-left: 50px;
         margin-top: 50px;
         margin-bottom: 15px;}

 .card-image { width: 238px; height: 180px;}

 .box { width: 150px; height: 180px; border-radius: 5px; background: url('yello.jpg');}



 .swiper-container {
         width: 100%;
         height: 100%;
         }

 .swiper-pagination {
             position: fixed !important;
             margin-right: 20px;
         }


  .swiper-pagination-bullet {
             width: 2px !important;
             height: 6vh !important;
             margin: 2vh 0 !important;
             display: block !important;
             background: #fff !important;
         }

 .swiper-pagination-bullet-active {
             background: #f6921e !important;
         }

         header.header {
           top: 0;
           position: fixed;
           padding-top: 20px;
           margin-bottom: 80px;
           width: 100%;
           background: white;
           z-index: 100;
         }

         .header .header__top {
           display: flex;
           justify-content: space-between;
           margin-bottom: 30px;
         }

         .header__col {
           display: flex;
           justify-content: space-between;
           align-items: center;
         }

         .header__search-box {
           position: relative;
         }

         .header__search-box svg {
           position: absolute;
           top: 14px;
           right: 90px;
           color: rgb(92, 92, 92);
         }

         .header__col input.header__search {
           width: 350px;
           padding: 10px 20px;
           margin-right: 75px;
           font-size: 14px;
           background-color: #ffe67a;
           border: none;
         }

         .header__col input.header__search:focus {
           outline: none;
         }

         .header__col .header__item {
           margin-left: 20px;
         }

         .header__item:last-child {
           border: 0.5px solid rgb(224, 224, 224);
           padding: 8px;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 5px;
           background-color: #ffe67a;
           font-size: 13px;
           color: rgb(74, 74, 74);
         }

         .header__nav {
           border-bottom: 1px solid #face0f;
           display: flex;
           justify-content: center;
           padding-right: 200px;
         }

         .nav__items {
           display: flex;
           justify-content: space-around;
           width: 450px;
           margin-bottom: 7.5px;
         }

         .nav__item {
           padding: 5px 10px;
           font-weight: bold;
           font-size: 17px;
         }

         .nav__item:hover {
           background-color: #f4d037;
           color: white;
           border-radius: 5px;
           font-weight: 300;
         }

         .nav__item--active {
           background-color: #f4d037;
           color: white;
           border-radius: 5px;
           font-weight: 300;
         }
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box !important;
  font-size: 15px;
}

a {
  color: inherit !important;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.nanum {
  font-family: "Nanum Gothic Coding", monospace;
}
.black {
  font-family: "Black Han Sans", sans-serif;
}
.dohyeon {
  font-family: "Do Hyeon", sans-serif;
}
.gothic {
  font-family: "Gothic A1", sans-serif;
}

.box2 {
  width: 180px;
  height: 150px;
}

.nanum {
  font-family: "Nanum Gothic Coding", monospace;
}
.black {
  font-family: "Black Han Sans", sans-serif;
}
.dohyeon {
  font-family: "Do Hyeon", sans-serif;
}
.gothic {
  font-family: "Gothic A1", sans-serif;
}

.landing-wrapper {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("pam.jpg");
  background-position: center top;
  height: 100%;
  color: white;
}

.land-wrapper {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("tarot.jpg");
  background-position: center top;
  height: 100%;
  color: white;
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.card-image {
  width: 286px;
  height: 180px;
}

.box {
  width: 150px;
  height: 180px;
  border-radius: 5px;
  background: url("yello.jpg");
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  position: fixed !important;
  margin-right: 20px;
}

.swiper-pagination-bullet {
  width: 2px !important;
  height: 6vh !important;
  margin: 2vh 0 !important;
  display: block !important;
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #f6921e !important;
}

header.header {
  top: 0;
  position: fixed;
  padding-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  background: white;
  z-index: 100;
}

.logo__img {
  width: 200px;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search-box {
  position: relative;
}

.header__search-box svg {
  position: absolute;
  top: 14px;
  right: 90px;
  color: rgb(92, 92, 92);
}

.header__col input.header__search {
  width: 350px;
  padding: 10px 20px;
  margin-right: 75px;
  font-size: 14px;
  background-color: #ffe67a;
  border: none;
}

.header__col input.header__search:focus {
  outline: none;
}

.header__col .header__item {
  margin-left: 20px;
}

.header__item:last-child {
  border: 0.5px solid rgb(224, 224, 224);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffe67a;
  font-size: 13px;
  color: rgb(74, 74, 74);
}

.header__nav {
  border-bottom: 1px solid #face0f;
  display: flex;
  justify-content: center;
  padding-right: 200px;
}

.nav__items {
  display: flex;
  justify-content: space-around;
  width: 450px;
  margin-bottom: 7.5px;
}

.nav__item {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 17px;
}

.nav__item:hover {
  background-color: #f4d037;
  color: white;
  border-radius: 5px;
  font-weight: 300;
}

.nav__item--active {
  background-color: #f4d037;
  color: white !important;
  border-radius: 5px;
  font-weight: 300;
}
