.footer{
  padding: 50px 200px;
  border-top: 1px solid #face0f;
  margin: 50px 0;
}

.footer > .footer__bisinfo{
  float: left;
  width: 350px;
  margin: 0 20px;
  border-right: 1px dashed #CDCDCD;
  height: 200px;
}

.footer--title {
  font: bold 15px sans-serif;
  margin-bottom: 20px;
}

.footer__bisinfo--row {
  margin: 0;
  font-size: 13px;
}
