// Place all the styles related to the sajus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box { width: 150px; height: 180px; border: 0.5px solid gray; border-radius: 5px; background-color: gray;}

.box2 { width: 180px; height: 150px;}
// swiper css
.swiper-pagination {
    position: fixed !important;
    margin-right: 20px;
}

.swiper-pagination-bullet {
    width: 2px !important;
    height: 6vh !important;
    margin: 2vh 0 !important;
    display: block !important;
    background: #fff !important;
}

.swiper-pagination-bullet-active {
    background: #f6921e !important;
}

.line {
    padding-bottom: 50px;
}

.icon { width: 50px; height: 50px; margin-left: 50px; margin-top: 50px; margin-bottom: 15px;}