<footer class="footer">
    <div class="footer__bisinfo">
      <h6 class="footer--title"><br><br>(주) 아수라발발타 사업자 정보</h6>
      <p class="footer__bisinfo--row">(주) 아수라발발타 | 서울시 용산구</p>
      <p class="footer__bisinfo--row">대표 : 공동대표 | 개인정보관리자 : 공동</p>
      <p class="footer__bisinfo--row">사업자등록번호 : 123-45-67890 </p>
      <p class="footer__bisinfo--row">통신판매업신고 : 2018-서울 용산-01471호</p>
      <p class="footer__bisinfo--row">1544-6254 | mutjangee@asurabalbalta.com</p>
    </div>
    <div class="swiper-slide">
      <div class="d-flex justify-content-center bg-light">
        <div class="box3 mr-5 mt-3">
            <h6 class="text-center"><strong>카테고리</strong></h6>
            <h6 class="text-left">사주</h6>
            <h6 class="text-left">작명</h6>
            <h6 class="text-left">타로</h6>
            <h6 class="text-left">관상</h6>
            <h6 class="text-left">손금</h6>
            <h6 class="text-left">점성술</h6>
        </div>
        <div class="box3 mr-5 mt-3">
            <h6 class="text-center"><strong>의뢰인/전문가</strong></h6>
            <h6 class="text-left">구매 방법</h6>
            <h6 class="text-left">판매 시작하기</h6>
            <h6 class="text-left">전문가 수수료</h6>
        </div>
        <div class="box3 mr-5 mt-3">
            <h6 class="text-center"><strong>아수라발발타 정보</strong></h6>
            <h6 class="text-left">서비스소개</h6>
            <h6 class="text-left">아수라발발타팀</h6>
            <h6 class="text-left">언론보도</h6>
            <h6 class="text-left">인재채용</h6>
            <h6 class="text-left">이용약관</h6>
            <h6 class="text-left">개인정보취급방침</h6>
        </div>
        <div class="box3 mt-3">
            <h6 class="text-center"><strong>아수라발발타 안내</strong></h6>
            <h6 class="text-left">공지사항</h6>
            <h6 class="text-left">FAQ</h6>
            <h6 class="text-left">부당업체 신고하기</h6>
        </div>
    </div>
</footer>
