<header class="header">

    <div class="container">
      <div class="header__top">
        <div class="header__col">
          <a class="logo" href="/">
            <img class="logo__img" src="<%= asset_path "logo.png" %>" alt="logo">
          </a>
        </div>
        <div class="header__col">
          <div class="header__search-box">
            <input class="header__search" placeholder="어떤 서비스를 찾고계신가요?">
            <a href="search">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
        <div class="header__col">
          <a href="seller" class="header__item">판매 시작하기</a>
          <a href="#" class="header__item">로그아웃</a>
          <a href="/sajus/qna" class="header__item">자주 묻는 질문</a>
        </div>
      </div>
    </div>

    <div class="header__nav">
      <div class="nav__items">
        <a href="saju" class="nav__item">사주</a>
        <a href="jakmyung" class="nav__item">작명</a>
        <a href="#" class="nav__item">타로</a>
        <a href="#" class="nav__item">관상</a>
        <a href="#" class="nav__item">손금</a>
        <a href="#" class="nav__item">점성술</a>
      </div>
    </div>
</header>


<script>
  var pgurl = window.location.href.split("/")[4];
  console.log(window.location.href.split("/")[4])
  $(".nav__item").each(function() {
    if($(this).attr("href").split("/")[0] == pgurl) {
      console.log($(this).attr("href").split("/")[0])
      $(this).addClass("nav__item--active");
    }
  })
</script>
